#demo-input {
	background-color: #ffffff;
	border: 1px solid #cccccc;
	padding-left: 5px;
	width: 200px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	         border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	   -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border linear .2s, box-shadow linear .2s;
	   -moz-transition: border linear .2s, box-shadow linear .2s;
	     -o-transition: border linear .2s, box-shadow linear .2s;
	        transition: border linear .2s, box-shadow linear .2s;
}


#demo-input:active,
#demo-input:focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
     -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
}

#demo-output {
	display: inline-block;
	margin-left: 10px;
	font-weight: bold;
}


#demo-locales {
	margin-left: 4px;
    -webkit-user-select: none; 
     -khtml-user-select: none; 
       -moz-user-select: none; 
         -o-user-select: none; 
}

.locale-selector {
	width: 16px;
	height: 11px;
	background-size: 16px 11px;
	display: inline-block;
	margin-right: 10px;
	cursor: pointer;
	background-repeat: no-repeat;
	opacity: 0.5;
}

.locale-selector:hover,
.locale-selector:active {
	opacity: 0.8;
}

.locale-selector.selected {
	opacity: 1;
	cursor: default;
}

#en-selector {
	background-image: url('../images/us.gif');
}

#fr-selector {
	background-image: url('../images/fr.gif');
}

#es-selector {
	background-image: url('../images/es.gif');
}

#search-form {
	margin-top: 2%;
}